# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# DuckDB
*.duckdb

# Data folder
data/

# Archive folders anywhere
**/archive/
archive/

# Environment files
.env
*.env

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db